In [1]:
import pandas as pd     
import numpy as np
import json
import requests
import urllib
from datetime import datetime

In [2]:
## Get data from FRED

In [3]:

my_key="3d9da500bf6919c330cd611dd2d027f3"                             

link = 'https://api.stlouisfed.org/fred/series/observations?series_id=DPRIME&api_key=3d9da500bf6919c330cd611dd2d027f3&file_type=json&frequency=d'
f = urllib.request.urlopen(link)
raw_data = json.loads(f.read().decode("utf-8"))                                     
    
dataset=(pd.DataFrame(raw_data['observations'])[['date','value']])    
dataset=dataset.rename(index=str, columns={"value": "DPRIME"})

dataset.set_index('date', inplace=True)
dataset.to_csv('Prime_Rate.csv')

In [4]:
my_key="3d9da500bf6919c330cd611dd2d027f3"                             

link = 'https://api.stlouisfed.org/fred/series/observations?series_id=USD3MTD156N&api_key=3d9da500bf6919c330cd611dd2d027f3&file_type=json&frequency=d'
f = urllib.request.urlopen(link)
raw_data = json.loads(f.read().decode("utf-8"))                                     
    
dataset=(pd.DataFrame(raw_data['observations'])[['date','value']])    
dataset=dataset.rename(index=str, columns={"value": "LIBOR"})

dataset.set_index('date', inplace=True)
dataset.to_csv('LIBOR.csv')

In [5]:
my_key="3d9da500bf6919c330cd611dd2d027f3"                             

link = 'https://api.stlouisfed.org/fred/series/observations?series_id=MORTGAGE30US&api_key=3d9da500bf6919c330cd611dd2d027f3&file_type=json'
f = urllib.request.urlopen(link)
raw_data = json.loads(f.read().decode("utf-8"))                                     
    
dataset=(pd.DataFrame(raw_data['observations'])[['date','value']])    
dataset=dataset.rename(index=str, columns={"value": "Mortgage"})

dataset.set_index('date', inplace=True)
dataset.to_csv('Mortgage.csv')

In [6]:
my_key="3d9da500bf6919c330cd611dd2d027f3"                             

link = 'https://api.stlouisfed.org/fred/series/observations?series_id=DGS30&api_key=3d9da500bf6919c330cd611dd2d027f3&file_type=json&frequency=d'
f = urllib.request.urlopen(link)
raw_data = json.loads(f.read().decode("utf-8"))                                     
    
dataset=(pd.DataFrame(raw_data['observations'])[['date','value']])    
dataset=dataset.rename(index=str, columns={"value": "T bond"})

dataset.set_index('date', inplace=True)
dataset.to_csv('T Bond.csv')

In [7]:
## Get data from Bloomberg

In [8]:

Prime_rate=pd.read_csv('Prime_Rate.csv')
LIBOR_rate=pd.read_csv('LIBOR.csv')
Mortgage_rate=pd.read_csv('Mortgage.csv')
Tbond_rate=pd.read_csv('T Bond.csv')

In [9]:
AIG_data=pd.read_csv('AIG.csv')
CX_data=pd.read_csv('CX.csv')
WMT_data=pd.read_csv('WMT.csv')

df = AIG_data.copy()
df = CX_data.copy()
df = WMT_data.copy()

In [10]:
## Rename the columns

In [11]:

AIG_data=AIG_data.rename(columns={"AIG US Equity": "Date","Last Price":"AIG"})
CX_data=CX_data.rename(columns={"CX US Equity": "Date","Last Price":"CX"})
WMT_data=WMT_data.rename(columns={"WMT US Equity": "Date","Last Price":"WMT"})

In [12]:
Prime_rate=Prime_rate.rename(columns={"date": "Date","value":"DPRIME"})
LIBOR_rate=LIBOR_rate.rename(columns={"date": "Date"})
Mortgage_rate=Mortgage_rate.rename(columns={"date": "Date"})
Tbond_rate=Tbond_rate.rename(columns={"date": "Date"})

In [13]:
## Change to the numeric values

In [14]:
Prime_rate['DPRIME']=pd.to_numeric(Prime_rate['DPRIME'],errors='coerce')
LIBOR_rate['LIBOR']=pd.to_numeric(LIBOR_rate['LIBOR'],errors='coerce')
Mortgage_rate['Mortgage']=pd.to_numeric(Mortgage_rate['Mortgage'],errors='coerce')
Tbond_rate['T bond']=pd.to_numeric(Tbond_rate['T bond'],errors='coerce')
AIG_data['AIG']=pd.to_numeric(AIG_data['AIG'],errors='coerce')
CX_data['CX']=pd.to_numeric(CX_data['CX'],errors='coerce')
WMT_data['WMT']=pd.to_numeric(WMT_data['WMT'],errors='coerce')

In [252]:
## 2C

## Find the number of NaNs or null values in each column.

In [17]:
LIBOR_rate.isna().sum()

Date       0
LIBOR    267
dtype: int64

In [15]:
Prime_rate.isna().sum()

Date        0
DPRIME    372
dtype: int64

In [16]:
Mortgage_rate.isna().sum()

Date        0
Mortgage    0
dtype: int64

In [18]:
Tbond_rate.isna().sum()

Date         0
T bond    1451
dtype: int64

In [19]:
AIG_data.isna().sum()

Date                         0
AIG                          0
Mid Price                    2
Bid Price                    5
Ask Price                    5
High Price                   0
Low Price                    0
Official Closing Price    3736
dtype: int64

In [20]:
CX_data.isna().sum()

Date                         0
CX                           0
Mid Price                    1
Bid Price                    3
Ask Price                    1
High Price                   0
Low Price                    0
Official Closing Price    3736
dtype: int64

In [21]:
WMT_data.isna().sum()

Date                         0
WMT                          0
Mid Price                    0
Bid Price                    2
Ask Price                   10
High Price                   0
Low Price                    0
Official Closing Price    3736
dtype: int64

In [260]:
## Find empty string

In [22]:
print(Prime_rate[Prime_rate==""].count())

Date      0
DPRIME    0
dtype: int64

In [23]:
print(LIBOR_rate[LIBOR_rate==""].count())

Date     0
LIBOR    0
dtype: int64

In [24]:
print(Mortgage_rate[Mortgage_rate==""].count())

Date        0
Mortgage    0
dtype: int64

In [25]:
print(Tbond_rate[Tbond_rate==""].count())

Date      0
T bond    0
dtype: int64

In [26]:
print(AIG_data[AIG_data==""].count())

Date                      0
AIG                       0
Mid Price                 0
Bid Price                 0
Ask Price                 0
High Price                0
Low Price                 0
Official Closing Price    0
dtype: int64

In [27]:
print(CX_data[CX_data==""].count())

Date                      0
CX                        0
Mid Price                 0
Bid Price                 0
Ask Price                 0
High Price                0
Low Price                 0
Official Closing Price    0
dtype: int64

In [28]:
print(WMT_data[WMT_data==""].count())

Date                      0
WMT                       0
Mid Price                 0
Bid Price                 0
Ask Price                 0
High Price                0
Low Price                 0
Official Closing Price    0
dtype: int64

In [268]:
## 2d

## If more than 40% of any column is NaNs or empty strings or non-float values, drop that column.

In [29]:
AIG_data=AIG_data.drop(["Official Closing Price"],axis="columns")

In [30]:
CX_data=CX_data.drop(["Official Closing Price"],axis="columns")

In [31]:
WMT_data=WMT_data.drop(["Official Closing Price"],axis="columns")

In [272]:
## 2e
## use interpolate() to replace the NaNs or empty strings

In [32]:
Prime_rate=Prime_rate.interpolate("linear")

In [33]:
LIBOR_rate=LIBOR_rate.interpolate("linear")

In [34]:
Tbond_rate=Tbond_rate.interpolate("linear")

In [35]:
AIG_data=AIG_data.interpolate("linear")

In [36]:
CX_data=CX_data.interpolate("linear")

In [37]:
WMT_data=WMT_data.interpolate("linear")

In [38]:
## 2f
## Print the number of NaNs in each column

In [39]:
Prime_rate.isna().sum()

Date      0
DPRIME    0
dtype: int64

In [40]:
LIBOR_rate.isna().sum()

Date     0
LIBOR    0
dtype: int64

In [41]:
Mortgage_rate.isna().sum()

Date        0
Mortgage    0
dtype: int64

In [42]:
Tbond_rate.isna().sum()

Date      0
T bond    0
dtype: int64

In [43]:
AIG_data.isna().sum()

Date          0
AIG           0
Mid Price     0
Bid Price     0
Ask Price     0
High Price    0
Low Price     0
dtype: int64

In [44]:
CX_data.isna().sum()

Date          0
CX            0
Mid Price     0
Bid Price     0
Ask Price     0
High Price    0
Low Price     0
dtype: int64

In [45]:
WMT_data.isna().sum()

Date          0
WMT           0
Mid Price     0
Bid Price     0
Ask Price     0
High Price    0
Low Price     0
dtype: int64

In [46]:
## Print the number of empty strings in each column

In [47]:
print(Prime_rate[Prime_rate==""].count())

Date      0
DPRIME    0
dtype: int64

In [48]:
print(LIBOR_rate[LIBOR_rate==""].count())

Date     0
LIBOR    0
dtype: int64

In [49]:
print(Mortgage_rate[Mortgage_rate==""].count())

Date        0
Mortgage    0
dtype: int64

In [50]:
print(Tbond_rate[Tbond_rate==""].count())

Date      0
T bond    0
dtype: int64

In [51]:
print(AIG_data[AIG_data==""].count())

Date          0
AIG           0
Mid Price     0
Bid Price     0
Ask Price     0
High Price    0
Low Price     0
dtype: int64

In [52]:
print(CX_data[CX_data==""].count())

Date          0
CX            0
Mid Price     0
Bid Price     0
Ask Price     0
High Price    0
Low Price     0
dtype: int64

In [53]:
print(WMT_data[WMT_data==""].count())

Date          0
WMT           0
Mid Price     0
Bid Price     0
Ask Price     0
High Price    0
Low Price     0
dtype: int64

In [54]:
## 3.Plot the following with appropriate labels. 
## 3a Walmart - Date vs WMT

In [55]:
df = WMT_data.copy()
df = df[(df['Date'] >= 2007) & (df['Date'] <= 2009)]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
plt.plot(WMT_data[:265*5]['Date'].values, usd_data[:265*5]['USD Index'].values,linewidth=0.5)
plt.xticks(np.arange(0,265*6,265),[str(i)[:4] for i in list(usd_data[:265*6]['date'].values)[::265]], rotation=90)
plt.xlabel('Date')
plt.ylabel('USD Rate')
plt.title('USD Rate before Cleaning')
plt.show()